/* Import: sprites for flags */
@import url(flags.css);

/* Typography */

body {
  font-family: Helvetica, Arial, sanserif;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-size: 200%;
  line-height: 1;
}

article {
  font-size: 80%;
}

nav, a, .initial {
  font-weight: bold;
}

/* Layout */

ul, h1 {
  margin: 0;
}

header {
  text-align: center;
  margin: 2em 0;
}

header h1 {
  /* shift right to center visually (IPCC <- -> Countries) */
  position: relative;
  left: 20px;
}

li {
  list-style-type: none;
  display: inline-block;
}

nav li {
  position: relative;
  width: 6em;
  line-height: 40px;
}

ul.countries > li {
  height: 190px;
  margin-top: 20px;
  margin-right: 20px;
}

li.country {
  width: 200px;
  text-align: center;
}

.flag {
  display: block;
}

.flag > svg {
  margin-top: 10px;
}

.name {
  line-height: 30px;
}

.initial {
  margin-left: 40px;
  vertical-align: top;
  font-size: 175px;
  line-height: 190px;
}

/* Color */

body {
  background-color: #E0E0EF;
}

body, a {
  color: #0F0A0A;
}

.flag, .initial {
  border-color: #2F2020;
}

.flag {
  background-color: #2F2020;
}

/* Decoration */

nav li + li::before {
  content: '●';
  display: block;
  position: absolute;
  left: -8px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.initial {
  padding-right: 10px;
  border-right-width: 10px;
  border-right-style: solid;
}

.flag {
  border-width: 10px;
  border-style: solid;
}
