/* Typography */

body {
  font-family: Helvetica, Arial, sanserif;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-size: 200%;
  line-height: 1;
}

article {
  font-size: 80%;
}

nav {
  font-weight: bold;
}

nav a {
  font-weight: normal;
}

nav a:hover {
  font-weight: bold;
}

/* Layout */

ul, h1 {
  margin: 0;
}

header {
  text-align: center;
  margin: 2em 0;
}

header h1 {
  /* shift right to center visually (IPCC <- -> Countries) */
  position: relative;
  left: 20px;
}

nav li {
  position: relative;
  width: 6em;
  line-height: 40px;
}

/* Decoration */

nav li + li::before {
  content: '●';
  display: block;
  position: absolute;
  left: -8px;
}

nav a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  display: inline-block;
}
