.sprite{background-image:url(flags.svg);background-repeat:no-repeat;width:360px;height:360px}
.flag-of-afghanistan{background-position:0 0}
.flag-of-albania{background-position:370px 0}
.flag-of-algeria{background-position:740px 0}
.flag-of-andorra{background-position:1110px 0}
.flag-of-angola{background-position:1480px 0}
.flag-of-antigua-and-barbuda{background-position:1850px 0}
.flag-of-argentina{background-position:2220px 0}
.flag-of-armenia{background-position:2590px 0}
.flag-of-australia{background-position:2960px 0}
.flag-of-austria{background-position:3330px 0}
.flag-of-azerbaijan{background-position:3700px 0}
.flag-of-bahrain{background-position:4070px 0}
.flag-of-bangladesh{background-position:4440px 0}
.flag-of-barbados{background-position:4810px 0}
.flag-of-belarus{background-position:5180px 0}
.flag-of-belgium{background-position:5550px 0}
.flag-of-belize{background-position:5920px 0}
.flag-of-benin{background-position:6290px 0}
.flag-of-bhutan{background-position:6660px 0}
.flag-of-bolivia{background-position:7030px 0}
.flag-of-bosnia-and-herzegovina{background-position:7400px 0}
.flag-of-botswana{background-position:7770px 0}
.flag-of-brazil{background-position:8140px 0}
.flag-of-brunei{background-position:8510px 0}
.flag-of-bulgaria{background-position:8880px 0}
.flag-of-burkina-faso{background-position:9250px 0}
.flag-of-burundi{background-position:9620px 0}
.flag-of-cambodia{background-position:9990px 0}
.flag-of-cameroon{background-position:10360px 0}
.flag-of-canada{background-position:10730px 0}
.flag-of-cape-verde{background-position:11100px 0}
.flag-of-chad{background-position:11470px 0}
.flag-of-chile{background-position:11840px 0}
.flag-of-colombia{background-position:12210px 0}
.flag-of-costa-rica{background-position:12580px 0}
.flag-of-cote-d'ivoire{background-position:12950px 0}
.flag-of-croatia{background-position:13320px 0}
.flag-of-cuba{background-position:13690px 0}
.flag-of-cyprus{background-position:14060px 0}
.flag-of-denmark{background-position:14430px 0}
.flag-of-djibouti{background-position:14800px 0}
.flag-of-dominica{background-position:15170px 0}
.flag-of-east-timor{background-position:15540px 0}
.flag-of-ecuador{background-position:15910px 0}
.flag-of-egypt{background-position:16280px 0}
.flag-of-el-salvador{background-position:16650px 0}
.flag-of-equatorial-guinea{background-position:17020px 0}
.flag-of-eritrea{background-position:17390px 0}
.flag-of-estonia{background-position:17760px 0}
.flag-of-ethiopia{background-position:18130px 0}
.flag-of-fiji{background-position:18500px 0}
.flag-of-finland{background-position:18870px 0}
.flag-of-france{background-position:19240px 0}
.flag-of-gabon{background-position:19610px 0}
.flag-of-georgia{background-position:19980px 0}
.flag-of-germany{background-position:20350px 0}
.flag-of-ghana{background-position:20720px 0}
.flag-of-greece{background-position:21090px 0}
.flag-of-grenada{background-position:21460px 0}
.flag-of-guatemala{background-position:21830px 0}
.flag-of-guinea-bissau{background-position:22200px 0}
.flag-of-guinea{background-position:22570px 0}
.flag-of-guyana{background-position:22940px 0}
.flag-of-haiti{background-position:23310px 0}
.flag-of-honduras{background-position:23680px 0}
.flag-of-hungary{background-position:24050px 0}
.flag-of-iceland{background-position:24420px 0}
.flag-of-india{background-position:24790px 0}
.flag-of-indonesia{background-position:25160px 0}
.flag-of-iran{background-position:25530px 0}
.flag-of-iraq{background-position:25900px 0}
.flag-of-ireland{background-position:26270px 0}
.flag-of-israel{background-position:26640px 0}
.flag-of-italy{background-position:27010px 0}
.flag-of-jamaica{background-position:27380px 0}
.flag-of-japan{background-position:27750px 0}
.flag-of-jordan{background-position:28120px 0}
.flag-of-kazakhstan{background-position:28490px 0}
.flag-of-kenya{background-position:28860px 0}
.flag-of-kiribati{background-position:29230px 0}
.flag-of-kuwait{background-position:29600px 0}
.flag-of-kyrgyzstan{background-position:29970px 0}
.flag-of-laos{background-position:30340px 0}
.flag-of-latvia{background-position:30710px 0}
.flag-of-lebanon{background-position:31080px 0}
.flag-of-lesotho{background-position:31450px 0}
.flag-of-liberia{background-position:31820px 0}
.flag-of-libya{background-position:32190px 0}
.flag-of-liechtenstein{background-position:32560px 0}
.flag-of-lithuania{background-position:32930px 0}
.flag-of-luxembourg{background-position:33300px 0}
.flag-of-macedonia{background-position:33670px 0}
.flag-of-madagascar{background-position:34040px 0}
.flag-of-malawi{background-position:34410px 0}
.flag-of-malaysia{background-position:34780px 0}
.flag-of-maldives{background-position:35150px 0}
.flag-of-mali{background-position:35520px 0}
.flag-of-malta{background-position:35890px 0}
.flag-of-mauritania{background-position:36260px 0}
.flag-of-mauritius{background-position:36630px 0}
.flag-of-mexico{background-position:37000px 0}
.flag-of-moldova{background-position:37370px 0}
.flag-of-monaco{background-position:37740px 0}
.flag-of-mongolia{background-position:38110px 0}
.flag-of-montenegro{background-position:38480px 0}
.flag-of-morocco{background-position:38850px 0}
.flag-of-mozambique{background-position:39220px 0}
.flag-of-myanmar{background-position:39590px 0}
.flag-of-namibia{background-position:39960px 0}
.flag-of-nauru{background-position:40330px 0}
.flag-of-nepal{background-position:40700px 0}
.flag-of-new-zealand{background-position:41070px 0}
.flag-of-nicaragua{background-position:41440px 0}
.flag-of-nigeria{background-position:41810px 0}
.flag-of-niger{background-position:42180px 0}
.flag-of-niue{background-position:42550px 0}
.flag-of-north-korea{background-position:42920px 0}
.flag-of-norway{background-position:43290px 0}
.flag-of-oman{background-position:43660px 0}
.flag-of-pakistan{background-position:44030px 0}
.flag-of-palau{background-position:44400px 0}
.flag-of-panama{background-position:44770px 0}
.flag-of-papua-new-guinea{background-position:45140px 0}
.flag-of-paraguay{background-position:45510px 0}
.flag-of-peru{background-position:45880px 0}
.flag-of-poland{background-position:46250px 0}
.flag-of-portugal{background-position:46620px 0}
.flag-of-qatar{background-position:46990px 0}
.flag-of-romania{background-position:47360px 0}
.flag-of-russia{background-position:47730px 0}
.flag-of-rwanda{background-position:48100px 0}
.flag-of-saint-kitts-and-nevis{background-position:48470px 0}
.flag-of-saint-lucia{background-position:48840px 0}
.flag-of-saint-vincent-and-the-grenadines{background-position:49210px 0}
.flag-of-samoa{background-position:49580px 0}
.flag-of-san-marino{background-position:49950px 0}
.flag-of-sao-tome-and-principe{background-position:50320px 0}
.flag-of-saudi-arabia{background-position:50690px 0}
.flag-of-senegal{background-position:51060px 0}
.flag-of-serbia{background-position:51430px 0}
.flag-of-seychelles{background-position:51800px 0}
.flag-of-sierra-leone{background-position:52170px 0}
.flag-of-singapore{background-position:52540px 0}
.flag-of-slovakia{background-position:52910px 0}
.flag-of-slovenia{background-position:53280px 0}
.flag-of-somalia{background-position:53650px 0}
.flag-of-south-africa{background-position:54020px 0}
.flag-of-south-korea{background-position:54390px 0}
.flag-of-south-sudan{background-position:54760px 0}
.flag-of-spain{background-position:55130px 0}
.flag-of-sri-lanka{background-position:55500px 0}
.flag-of-sudan{background-position:55870px 0}
.flag-of-suriname{background-position:56240px 0}
.flag-of-swaziland{background-position:56610px 0}
.flag-of-sweden{background-position:56980px 0}
.flag-of-switzerland{background-position:57350px 0}
.flag-of-syria{background-position:57720px 0}
.flag-of-tajikistan{background-position:58090px 0}
.flag-of-tanzania{background-position:58460px 0}
.flag-of-thailand{background-position:58830px 0}
.flag-of-the-bahamas{background-position:59200px 0}
.flag-of-the-central-african-republic{background-position:59570px 0}
.flag-of-the-comoros{background-position:59940px 0}
.flag-of-the-cook-islands{background-position:60310px 0}
.flag-of-the-czech-republic{background-position:60680px 0}
.flag-of-the-democratic-republic-of-the-congo{background-position:61050px 0}
.flag-of-the-dominican-republic{background-position:61420px 0}
.flag-of-the-federated-states-of-micronesia{background-position:61790px 0}
.flag-of-the-gambia{background-position:62160px 0}
.flag-of-the-marshall-islands{background-position:62530px 0}
.flag-of-the-netherlands{background-position:62900px 0}
.flag-of-the-people's-republic-of-china{background-position:63270px 0}
.flag-of-the-philippines{background-position:63640px 0}
.flag-of-the-republic-of-the-congo{background-position:64010px 0}
.flag-of-the-solomon-islands{background-position:64380px 0}
.flag-of-the-united-arab-emirates{background-position:64750px 0}
.flag-of-the-united-kingdom{background-position:65120px 0}
.flag-of-the-united-states{background-position:65490px 0}
.flag-of-togo{background-position:65860px 0}
.flag-of-tonga{background-position:66230px 0}
.flag-of-trinidad-and-tobago{background-position:66600px 0}
.flag-of-tunisia{background-position:66970px 0}
.flag-of-turkey{background-position:67340px 0}
.flag-of-turkmenistan{background-position:67710px 0}
.flag-of-tuvalu{background-position:68080px 0}
.flag-of-uganda{background-position:68450px 0}
.flag-of-ukraine{background-position:68820px 0}
.flag-of-uruguay{background-position:69190px 0}
.flag-of-uzbekistan{background-position:69560px 0}
.flag-of-vanuatu{background-position:69930px 0}
.flag-of-venezuela-state{background-position:70300px 0}
.flag-of-vietnam{background-position:70670px 0}
.flag-of-yemen{background-position:71040px 0}
.flag-of-zambia{background-position:71410px 0}
.flag-of-zimbabwe{background-position:71780px 0}
